.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.DS_Store
playwright-report
test-results
.blob-report
.cache-synpress
.vercel
.env*.local
next-env.d.ts
artifacts/
